
body{
  font-family: 'Inter';
}

.logo{
  width: 50px;
}

.nav-container{
display: flex;
height: 91px;
background-color: #21222A;
color: white;
align-items: center;
font-size: 30px;
padding: 9px;
}

.nav-left{
display: flex;
margin-right: auto;

}

.nav-right{
display: flex;


}

.react {
color: #61DAFB;

}

.main-container{

background-color: #282D35;
height: 459px;
color: white;
padding: 10px;
}


ul li::marker{
list-style-type:  circle;
color: #61DAFB;
display: inline-block;
width: 999.61px;
height: 9.61px;

}

ul> li{
  font-size: 30px;
  margin-left: 5px;
}

.list-style{
display: flex;
 gap: 20px;
 flex-direction: column;
}